<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}ErssMarket{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <span>
      <a href="/">
        <i class="fas fa-home"></i>
      </a>
    </span>
    <h1>ERSS Marketplace</h1>
    <nav>
      <a href="/selector">
        <i class="fas fa-shopping-cart">
          <span id="product-counter">0</span>
        </i>
      </a>
      <a href="/selector">
        <i class="fas fa-list"></i>
      </a>
      <button id="logoutButton">Log Out <i class="fas fa-sign-out-alt"></i></button>
    </nav>
  </header>

  <main>
    {% block content %}
      <!-- Bloque para añadir el contenido principal de la página -->
    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2025 ERSS Marketplace</p>
  </footer>
  
  {% block script %}
    <!-- Bloque para añadir otro script -->
  {% endblock %}
  <script>
    document.getElementById('logoutButton').addEventListener('click', function() {
      /*
       * Llamada al endpoint api/logout para cerrar la sesion
       * Se borra la cookie con el token de sesion y se redirige al usuario a login
       */
      fetch('/api/logout', {
        method: 'POST',
        credentials: 'same-origin'
      })
      .then(response => {
        if (response.ok) {
          window.location.href = '/login';
        } else {
          console.error('Error al cerrar sesión');
        }
      })
      .catch(error => console.error('Error:', error));
    });
  </script>
</body>
</html>
