<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}ErssMarket{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
  <header>
    <span>EM</span>
    <nav>
        Aqui irian los enlaces a las diferentes secciones
    </nav>
    <button id="logoutButton">Cerrar sesión</button>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2025 Mi Marketplace</p>
  </footer>
  
  <script>
    document.getElementById('logoutButton').addEventListener('click', function() {
      /*
       * Llamada al endpoint api/logout para cerrar la sesion
       * Se borra la cookie con el token de sesion y se redirige al usuario a login
       */
      fetch('/api/logout', {
        method: 'POST',
        credentials: 'same-origin'
      })
      .then(response => {
        if (response.ok) {
          window.location.href = '/login';
        } else {
          console.error('Error al cerrar sesión');
        }
      })
      .catch(error => console.error('Error:', error));
    });
  </script>
</body>
</html>
