<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}ErssMarket{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <span>
      <a href="/">
        <i class="fas fa-home"></i>
      </a>
    </span>
    <h1>ERSS Marketplace</h1>
    <nav>
      <a href="/carrito">
        <i class="fas fa-shopping-cart">
          <span id="productsNotification">!</span>
        </i>
      </a>
      <a href="/pedidos">
        <i class="fas fa-list"></i>
      </a>

      {% if current_user %} <!-- En funcion de si el usuairo se identifico se mostrara un boton u otro.-->
        <button id="logoutButton">Log Out <i class="fas fa-sign-out-alt"></i></button>
      {% else %}
        <button id="loginButton">Login</button>
      {% endif %}
    </nav>
  </header>

  <main>
    {% block content %} <!-- Bloque para añadir el contenido principal de la página --> {% endblock %}
  </main>

  <footer>
    <p>&copy; 2025 ERSS Marketplace</p>
  </footer>

  {% block script %}{% endblock %}
  
  <script>  // Trata las llamadas que se porducen si hay un boton login o logout

    document.addEventListener('DOMContentLoaded', function() {
      
      const logoutButton = document.getElementById('logoutButton');
      if (logoutButton) {
        logoutButton.addEventListener('click', function() {
          fetch('/api/logout', {
            method: 'POST',
            credentials: 'same-origin'
          })
          .then(response => {
            if (response.ok) {
              window.location.href = '/login';
            } else {
              console.error('Error al cerrar sesión');
            }
          })
          .catch(error => console.error('Error:', error));
        });
      }
      
      const loginButton = document.getElementById('loginButton');
      if (loginButton) {
        loginButton.addEventListener('click', function() {
          window.location.href = '/login';
        });
      }

    });
  </script>
</body>
</html>
