<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Marketplace{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido a Mi Marketplace</h1>
    </header>



    
    <main>
        <form id="loginForm">
            <button type="submit">Decir Hola en la consola</button>
        </form>

        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Mi Marketplace</p>
    </footer>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();
            fetch("{{ url_for('api.autenticacion.login') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            })
        });
    </script>
</body>
</html>