<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Login{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<body>
  <header>
    <h1>Bienvenido a Mi Marketplace</h1>
  </header>
  <main>
    <form id="loginForm">
      <div>
        <label for="username">Email:</label>
        <input type="text" id="email" name="email" required>
      </div>
      <div>
        <label for="username">Contraseña:</label>
        <input type="text" id="password" name="password" required>
        <button type="submit">Login</button>
      </div>
    </form>
  </main>
  <script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
      event.preventDefault(); // Evita el envío del formulario por defecto

      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;

      /*
       * Llamada al endpoint api/login para autenticar al usuario
       * Si la autenticacion es exitosa se guarda el token de sesion en sessionStorage
       * y se redirige al usuario a la página home
       */
      fetch('api/login', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ email, password })
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Error en el inicio de sesión. Inténtalo de nuevo.');
        }
        return response.json()
      })
      .then(data => {
        sessionStorage.setItem('token', data.token)
        window.location.href = '/';
      })
      .catch(error => console.error('Error:', error));

    });
  </script>
  <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
</body>
</html>
