{% extends "base/auth.html" %}

{% block title %}Inicio - ErssMarket{% endblock %}

{% block inputs %}
  <div class="input-container">
    <label for="username">Email:</label>
    <input type="text" id="email" name="email" required>
  </div>
  <div class="input-container">
    <label for="username">Contraseña:</label>
    <input type="text" id="password" name="password" required>
  </div>
{% endblock %}

{% block submit_text %}Login{% endblock %}

{% block script %}
  <script>
    document.getElementById('authForm').addEventListener('submit', function(event) {
      event.preventDefault(); // Evita el envío del formulario por defecto

      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;

      /*
       * Llamada al endpoint api/login para autenticar al usuario
       * Si la autenticacion es exitosa se guarda el token de sesion en sessionStorage
       * y se redirige al usuario a la página home
       */
      fetch('api/login', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ email, password })
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Error en el inicio de sesión. Inténtalo de nuevo.');
        }
        return response.json()
      })
      .then(data => {
        window.location.href = '/';
      })
      .catch(error => console.error('Error:', error));

    });
  </script>
{% endblock %}
