<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mi Marketplace{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<body>
  <header>
    <h1>Bienvenido a Mi Marketplace</h1>
  </header>
  <main>
    <form id="loginForm">
      <div>
        <label for="username">Email:</label>
        <input type="text" id="email" name="email" required>
      </div>
      <div>
        <label for="username">Contraseña:</label>
        <input type="text" id="password" name="password" required>
        <button type="submit">Login</button>
      </div>
    </form>
  </main>
</body>
</html>