{% extends "base/base.html" %}

{% block title %}Historial de Pedidos{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pedidos.css') }}">
{% endblock %}

{% block content %}
    {% for pedido in pedidos %}
        <div class="pedido">
            <div class="pedido-header">
                <h3>Nº Pedido: {{ pedido.id }}</h3>
                <h3>{{ pedido.fecha_creacion }}</h3>
            </div>
            <div class="pedido-body">
                {% for producto in pedido.productos %}
                    <div class="pedido-producto">
                        <div class="pedido-producto-info">
                            <h4><span>{{producto.nombre}}</span> {{producto.precio}} € x{{producto.cantidad}}</h4>
                        </div>
                        <img src={{producto.fotoUrl}} alt={{producto.nombre}} class="imagen-producto">
                    </div>
                {% endfor %}
            </div>
            <h3>Total: {{ pedido.precio_total }} €</h3>
        </div>
    {% endfor %}
{% endblock %}
