<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selector de productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/selector.css') }}">
</head>
<body>
    <header>
        <div class="cabecera">
            <a href="selector.html" class="icono-mis-viajes">Pagina principal</a>
            <h1>Mi Marketplace</h1>
            <a href="/selector" class="icono-mis-viajes">Mi Carrito</a>
            <a href="/selector" class="icono-mis-viajes">Mis Pedidos</a>
        </div>
    </header>
    
    <main>
       
    </main>

</body>
</html>
