<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selector de productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/selector.css') }}">
</head>
<body>

    <header></header>
    <main>

        <div class="cabecera">
            <div class="cabecera-izq">
                <a href="selector.html" class="icono-mis-viajes">Pagina principal</a>
            </div>
            <div class="cabecera-central">
                <h1>Mi Marketplace</h1>
            </div>
            <div class="cabecera-dcha">             
                <a href="/selector" class="icono-mis-viajes">Mi Carrito</a>
                <a href="/selector" class="icono-mis-viajes">Mis Pedidos</a>
            </div>
        </div>
        <div class="margen-central">

            <div class="caja-producto">
                <div class="caja1">
                    <h1>Balon de fútbol</h1>
                    <p> "Balón de fútbol clásico, perfecto para entrenamientos y partidos. 
                        Fabricado con materiales resistentes y cosido a máquina para mayor durabilidad. 
                        Su superficie de cuero sintético garantiza un toque suave y un control óptimo. 
                        Ideal para jugadores de todas las edades y niveles."
                    </p>
                    <p> añadir a la cesta</p>
                </div>
                <div class="caja2">
                    <img src="../static/images/balon.jpg" alt="Balón de fútbol" class="imagen-producto">
                </div>              
            </div>

            <div class="caja-producto">
                <div class="caja1">
                    <h1>Guantes de fútbol</h1>
                    <p> "Guantes de fútbol diseñados para ofrecer un agarre seguro y cómodo en todas las condiciones. 
                        Fabricados con materiales transpirables y resistentes, garantizan máxima protección y durabilidad. 
                        Su palma de látex antideslizante asegura un excelente control del balón. Ideales para entrenamientos y partidos."
                    </p>
                    <p> añadir a la cesta</p>
                </div>
                <div class="caja2">
                    <img src="../static/images/guantes.jpg" alt="Balón de fútbol" class="imagen-producto">
                </div>                 
            </div>

            <div class="caja-producto">
                <div class="caja1">
                    <h1>Camiseta Deportiva</h1>
                    <p> "Camiseta deportiva ligera y cómoda, ideal para entrenamientos y actividades físicas. 
                        Fabricada con tejido transpirable que mantiene la piel fresca y seca. 
                        Su diseño clásico y ajuste regular garantizan libertad de movimiento. 
                        Perfecta para el día a día o el gimnasio."
                    </p>
                    <p> añadir a la cesta</p>
                </div>
                <div class="caja2">
                    <img src="../static/images/camiseta.jpg" alt="Balón de fútbol" class="imagen-producto">
                </div>
                 
            </div>

            <div class="caja-producto">
                <div class="caja1">
                    <h1>Pantalón Deportivo</h1>
                    <p> "Pantalones deportivos cómodos y ligeros, perfectos para entrenar o relajarse. 
                        Fabricados con tejido transpirable que absorbe la humedad, mantienen la frescura en cada movimiento. 
                        Su corte ajustado pero flexible garantiza libertad y confort. 
                        Ideales para el gimnasio o el uso diario."
                    </p>
                    <p> añadir a la cesta</p>
                </div>
                <div class="caja2">
                    <img src="../static/images/pantalon.jpg" alt="Balón de fútbol" class="imagen-producto">
                </div>
                 
            </div>

            <div class="caja-producto">
                <div class="caja1">
                    <h1>Zapatillas Deportivas</h1>
                    <p> "Zapatillas deportivas versátiles y cómodas, diseñadas para entrenamientos y uso diario. 
                        Cuentan con una suela antideslizante que ofrece tracción y estabilidad. 
                        Su plantilla acolchada garantiza amortiguación en cada paso. 
                        Perfectas para mantener el ritmo en cualquier actividad."
                    </p>
                    <p> añadir a la cesta</p>
                </div>
                <div class="caja2">
                    <img src="../static/images/zapatilla.jpg" alt="Balón de fútbol" class="imagen-producto">
                </div>
                 
            </div>
           
            
        </div>
       
    </main>

</body>
</html>